@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
:root {
  --Darkcyan: hsl(185, 75%, 39%);
  --Verydarkdesaturatedblue: hsl(229, 23%, 23%);
  --Darkgrayishblue: hsl(227, 10%, 46%);
  --Darkgray: hsl(0, 0%, 59%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 18px;
  text-rendering: optimizeLegibility;
  color: black;
  background: var(--Darkcyan) url('images/bg-pattern-bottom.svg') no-repeat
    center/cover;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  height: 50vh;
  width: 350px;
  background-color: aqua;
}
